<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.markbook.mapper.calendarMapper">

	<!-- 일정 가져오기 -->
	<select id="selectCal" resultType="mk_calendarTempVO">
		select id, title,
		date_format(start, '%Y-%m-%d %H:%i:%s') start,
		date_format(end, '%Y-%m-%d %H:%i:%s') end 
		from calendarTemp
		where id in
		<foreach collection='list' index='index' item='num' open='(' close=')' separator=','>
			#{num}
		</foreach>
	</select>
	
	<!-- 로그인한 회원의 캘린더 번호 가져오기 -->
	<select id="selectNum" resultType="Integer">
		select id from calendar
		where bor_m_id = #{m_id}
	</select>
	
	<!-- 캘린더 번호 최대값 가져오기 -->
	<select id="selectMaxNum" resultType="String">
		select max(id) 
		from 
		calendar
	</select>
	
	<!-- 개인 일정 추가1 (tmp) -->
	<insert id="insertCaltmp">
		insert into 
		calendarTemp(id, title, start, end) 
		values(#{id}, #{title}, #{start}, #{end})
	</insert>
	
	<!-- 개인 일정 추가2 (cal) -->
	<insert id="insertCal" parameterType="Map">
		insert into
		calendar(id, bor_m_id, cal_flag)
		values(#{id}, #{m_id}, 1)
	</insert>
</mapper>