<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
   <mapper namespace="com.markbook.mapper.mainMapper">
   
   <select id="borrbest" resultType="mk_bookVO">
   select * from book
   order by b_count 
   limit 6;
   
   </select>
   
   <select id="borrbest2" resultType="mk_bookVO">
   select * from book
   where b_category = #{b_category}
   order by b_count 
   limit 6;
   </select>
   
   <!-- 별점게시판 -->
   <select id="bookreview" resultType="mk_bookVO">
   select *
   from book
   where b_num =#{b_num}
   </select>
   
   </mapper>